<!DOCTYPE HTML>
<html>
<%= stylesheet_link_tag "application", :media => "all" %>
<head>
  <nav>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Team Building</a>
      <div class="dropdown-content">
        <a href="awards">Awards</a>
        <a href="fundraising">Fundraising</a>
        <a href="outreach">Outreach</a>
      </div>
    </li>
    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Resources</a>
    <div class="dropdown-content">
      <a href="mechanical">Mechanical</a>
      <a href="programming">Programming</a>
      <a href="electrical">Electrical</a>
    </div>
    <li><a href="about_us">About Us</a></li>
    <li><a href="upload">Upload A Resource</a></li>
  </nav>
</head>
<body>
  <% Resource.all.each do |resource| %>
  <% if resource.type_of_resource == 'Fundraising' %>
      <%= button_to resource.filename, "/download?id=#{resource.id}" %>
      <%= resource.description %>
     <% end %>
    <p>
    </p>
  <% end %>
</body>
</html>
